.candrabaga-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.candrabaga-title {
  font-size: 2.5rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}